<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
            <li>...all leagues where sport is any type of hockey</li>
            <li>...all leagues where sport is something OTHER THAN football</li>
            <li>...all leagues that call themselves "conferences"</li>
            <li>...all leagues in the Atlantic region</li>
            <li>...all teams based in Dallas</li>
            <li>...all teams named the Raptors</li>
            <li>...all teams whose location includes "City"</li>
            <li>...all teams whose names begin with "T"</li>
            <li>...all teams, ordered alphabetically by location</li>
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <li>...every player with last name "Cooper"</li>
            <li>...every player with first name "Joshua"</li>
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>1. All Womens' Leagues</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach(var l in ViewBag.WomensLeagues)
            {
            <tr>
                <td>@l.Name</td>
                <td>@l.Sport</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>2. Hockey Leagues</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach(var l in ViewBag.HockeyLeagues)
            {
            <tr>
                <td>@l.Name</td>
                <td>@l.Sport</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>3. Not Football Leagues</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach(var l in ViewBag.NotFootballLeagues)
            {
            <tr>
                <td>@l.Name</td>
                <td>@l.Sport</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>4. Leagues that call themselves conferences</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach(var l in ViewBag.ConferenceLeagues)
            {
            <tr>
                <td>@l.Name</td>
                <td>@l.Sport</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>5. Leagues in Atlantic conferences</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach(var l in ViewBag.AtlanticLeagues)
            {
            <tr>
                <td>@l.Name</td>
                <td>@l.Sport</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>6. Dallas Teams</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Team Location</th>
            </tr>
            @foreach(var l in ViewBag.DallasTeams)
            {
            <tr>
                <td>@l.TeamName</td>
                <td>@l.Location</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>7. Teams named the Raptors</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Team Location</th>
            </tr>
            @foreach(var l in ViewBag.Raptors)
            {
            <tr>
                <td>@l.TeamName</td>
                <td>@l.Location</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>8. City in the name</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
            </tr>
            @foreach(var l in ViewBag.CityTeam)
            {
            <tr>
                <td>@l.TeamName</td>
                <td>@l.Location</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>9. Team name starts with T</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
            </tr>
            @foreach(var l in ViewBag.TTeam)
            {
            <tr>
                <td>@l.TeamName</td>
                <td>@l.Location</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>10.All teams in alphabetical order</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
            </tr>
            @foreach(var l in ViewBag.TeamByName)
            {
            <tr>
                <td>@l.TeamName</td>
                <td>@l.Location</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>11.All teams in reversed alphabetical order</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
            </tr>
            @foreach(var l in ViewBag.TeamByNameReversed)
            {
            <tr>
                <td>@l.TeamName</td>
                <td>@l.Location</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>12.All the Coopers</h3>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            @foreach(var l in ViewBag.Cooper)
            {
            <tr>
                <td>@l.FirstName</td>
                <td>@l.LastName</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>13.All the Joshuas</h3>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            @foreach(var l in ViewBag.Joshua)
            {
            <tr>
                <td>@l.FirstName</td>
                <td>@l.LastName</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>14.Not Josh Cooper</h3>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            @foreach(var l in ViewBag.NotJoshCooper)
            {
            <tr>
                <td>@l.FirstName</td>
                <td>@l.LastName</td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>15. All the Alex or Wyatts</h3>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            @foreach(var l in ViewBag.AlexOrWyatt)
            {
            <tr>
                <td>@l.FirstName</td>
                <td>@l.LastName</td>
            </tr>
            }
        </table>
    </div>
</div>